@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-ink-100 text-ink-900;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-ink-300 rounded-full;
}
::-webkit-scrollbar-track {
  background: transparent;
}
